.actionScriptProperties
.flexLibProperties
.settings
.project
bin-debug
bin
bin-release
libs

/.FlexUnitSettings/FlexUnitApplicationLastRun.xml
/.FlexUnitSettings/FlexUnitApplicationLastSelection.xml
/src/FlexUnitApplication.mxml